{
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]],
  "presets": [
    ["@babel/preset-env", { "loose": true }],
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript",
    [
      "babel-preset-gatsby",
      {
        "reactRuntime": "automatic",
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
